/*Background*/

body{
  background-image: url("images/compbook.jpg");
  background-position: cover;
  font-size: 19px;
}

/*Font*/
h1{
  font-family: journal;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 70px;
}

/*Section*/
section{
  background-position: upper left;
  background-repeat: no-repeat;
  background-size: 240px;
  background-color: #fff;
  border: 5px solid #000;
  max-width: 1003px;
  position: relative;
  bottom: 65px;
}

.DJlogo{
  background-position:left;
  width: 240px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

/*Forms*/

label:first-of-type{
  padding: 10px;
}

label{
  display: inline-block;
  clear: left;
}

label:last-of-type{
  display: inline-block;
  clear: left;
}

form{
  /*width: 250px;*/
    background-color: white;
    margin: 0 auto;
    padding: 30px;
}
.sign-up-form{
  padding-left: 76px;
}

input, select{
  margin-top: 30px;
}

/*Avatars*/

.form-group:nth-of-type(2){
  clear: left;
}

.image {
  float: left;
  cursor: pointer;
}

img{
  border: solid #000 2px;
}

/*Search Bar*/

.searchBar {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
  width: 300px;
  height: 150px
}
/*Button*/

.btn-default, .btn-primary{
  padding: 5px;
  border: 3px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  margin-top: 60px;
  cursor: pointer;
}

span{
  cursor: pointer;
}


.searchButton {
                position:relative;
                padding:1px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.searchButton:hover  {
                background-color:#fafafa;
                color:#207cca;
}
