/*Background*/

body{
  font-size: 19px;
  background: linear-gradient(to right, #747278 , #4A494D);
}

/*Font*/

p{
  color: #fff;
  text-align: center;
}

h1{
  font-family: journal;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 70px;
  color: #e9b929;
}

h5{
    position: relative;
    left: 370px;
    top: -85px;
    color: #D1D1D1;
    font-size: 25px;
    font-style: italic;
}

.LiveViewDisplayName{
  font-size: 65px;
  position: relative;
  top: -85px;
}

.SignupHeader{
  position: relative;
  bottom: 40px;
}

.LoginHeader{
  font-family: journal;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: -15px;
  margin-top: 70px;
  color: #e9b929;
  margin-right: 20px;
}



.HomepageHeader{
  font-size: 40px;
  position: relative;;
  width: 660px;
  top: 260px;
  margin-left: 10px;
  color: #D1D1D1;
}

p.HomeParagraphs{
  position: absolute;
  top: 385px;
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
  text-align: left;
}

i{
  color: #fff;
}

strong{
  color: #e9b929;
}

/*Section*/
section{
  background-repeat: no-repeat;
  background-size: 240px;
  padding: 10px;
}

.DJlogo{
  background-position:left;
  width: 340px;
  border: none;
  cursor: pointer;
  margin-top: 45px;
  margin-left: -36px;
}

.HomeLogo{
  width: 480px;
  border: none;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 10px;
  position: absolute;
  top: 95px;
}

/*Forms*/

.col-md-3{
  background-color: #D1D1D1;
}


.form-group3{
  position: absolute;
  top: -45px;
}


.form-control1{
  width: 190px;
  border-radius: 2px;
  position: relative;
  top: -24px;
}

label:first-of-type{
  padding: 10px;
}

label{
  display: inline-block;
  clear: left;
}

label:last-of-type{
  display: inline-block;
  clear: left;
}

form{
    margin: 0 auto;
    padding: 30px;
}
.sign-up-form{
  width: 30%;
}

input, select{
  margin-top: 30px;
}

p.journalText{
  color: #2CC3C1;
  text-align: justify;
}

p.journalUser{
  color: #2a2a2a;
  text-align: justify;
}

.FeedView{
  background-color: #747278
}

/*Avatars*/

#moodFeels{
  position: relative;
  left: -365px;
}

#moodFeels3{
  position: relative;
  left: -509px;
}

.form-group:nth-of-type(2){
  clear: left;
}

.form-group2{
  margin-top: -31px;
}

.form-group4{
  border: 3px solid #2a2a2a;
  background-color: #2a2a2a;
  position: relative;
  top: 50px;
}

.form-group5{
  position: relative;
  top: 50px;
}

.image {
  float: left;
  cursor: pointer;
  background-color: #D1D1D1;
}

img{
  border: solid #000 2px;
}

/*Buttons*/

.btn-default, .btn-primary{
  padding: 5px;
  border: 3px solid #000;
  background-color: #2a2a2a;
  color: #2CC3C1;
  font-size: 18px;
  margin-top: 60px;
  cursor: pointer;
  width: 100%;

}

.btn{
  padding: 5px;
  border: 3px solid #000;
  background-color: #2a2a2a;
  color: #2CC3C1;
  font-size: 18px;
  margin-top: 60px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.btn-default:hover , .btn-primary:hover{
  color: #e9b929;
}


.btn-group{
  left: 15px;
  padding: 5px;
  border: 3px solid #2a2a2a;
  border-radius: 3px;
  background-color: #2a2a2a;
  margin-top: 490px;
  margin-right: 10px;
  cursor: pointer;
  width: 30%;
  text-align: center;
}

.btn:hover{
  background-color: #D1D1D1;

}

.btn-group:hover{
  background-color: #D1D1D1;
}

span{
  cursor: pointer;
}


/*Nav Links*/
.nav>li>a {
  color: #2CC3C1;
}

/*Nav Tabs*/
.nav-tabs>li>a{
  background-color: #2a2a2a;
}


.navbar-default{
  background-color: #191919;
}

.nav-tabs {
     border-bottom: none;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
    position: relative;
    top: 510px;
    margin-left: 15px;
    width: 360px;
    background-color: #2a2a2a;

}

a{
  color: #2CC3C1;
  cursor: pointer;
}

a:hover{
  color: #e9b929;;
  cursor: pointer;
}

/*Chat Room*/

ul{
  list-style-type: none;
}

.chatReply{
  width: 300px;
  border-radius: 5px;
}

.chatButton{
  padding: 3px;
  border: 3px solid #000;
  background-color: #2a2a2a;
  color: #2CC3C1;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.chatButton:hover{
  color: #e9b929;
}


.well-lg{
  border: solid #2CC3C1 3px;
  background-color: #2a2a2a;
}

.chatResponse{
  color: #fff;
  text-align: justify;
}

.chatMessages{
  color: #e9b929;
}

.panel{
  background-color: grey;
  letter-spacing: 2px;
  padding: 10px;
}

/*Profile Feed*/
h2{
  margin-top: 65px;
  color: #e9b929;
}

h3{
text-align: center;
margin-top: 55px;
font-size: 36px;
}


p.FeedParagraphs{
  color: #1493a4;
  font-weight: 400;
  text-align: justify;
}


span.remove-post{
  font-size: 12px;
  padding: 5px 8px 5px 8px;
  color: #fff;
  background-color: #BA2632;
}

span.edit-post{
  color: #fff;
  background-color: #0F5C3D;
  font-size: 12px;
  padding: 5px 8px 5px 8px;
}

/*Footer*/
.footer-home{
  background-color: #000;
  border-top: 1px solid #D1D1D1;
  color: #D1D1D1;
  position: absolute;
  top: 740px;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
}

.footer-feed{
  background-color: #000;
  border-top: 1px solid #D1D1D1;
  color: #D1D1D1;
  position: absolute;
  top: 2160px;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
}

.footer-profile{
  background-color: #000;
  border-top: 1px solid #D1D1D1;
  color: #D1D1D1;
  position: absolute;
  top: 784px;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
}

.footer-chat{
  background-color: #000;
  border-top: 1px solid #D1D1D1;
  color: #D1D1D1;
  position: absolute;
  top: 784px;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
}

.footer-signup{
  background-color: #000;
  border-top: 1px solid #D1D1D1;
  color: #D1D1D1;
  position: absolute;
  top: 784px;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
}
