<h1>Start Chatting with fellow Journalists!</h1>

<div>

  <div class="well well-lg">
    <ul class="ChatNames">
      <li role="presentation" ng-repeat='message in messages'>
        <div class="panel">
            <strong class="chatMessages">{{message.user}}:
            </strong>
            <p class="chatResponse">
              {{message.text}}
            <p>
        </div>
      </li>
    </ul>
  </div>

  <label>
    <input class="chatReply" type="text" ng-model="newmessage.text" placeholder="type message">
  </label>

  <button class="chatButton" type="submit" ng-click="insert()">Send</button>

</div>
