<div class="">

	<div class="jumbotron">
		<div class="logo">
					<a href="/home"><img class="DJlogo" src="css/images/DJLogo.png"></a>
			</div>
		<h4>Where Your Feelings Are Kept Safe</h4>
		<a href="/home"><img class="DJcta" src="css/images/DJcta.jpg"></a>

	 <nav class="navbar navbar-default navbar-fixed-top">

	   <div class="container">
			 <ul class="nav nav-tabs">
				<li role="presentation" ><a href="/live-view">Home Feed</a></li>
				<li role="presentation"><a href="/feed">Profile</a></li>
				<li role="presentation"><a href="/chat">Chat</a></li>
			 </ul>
	   </div>
	 </nav>




<a href="/sign-up">Register a New User</a>

</div>



</div>
