<div class="HomePage">

	<div >
		<div class="logo">
					<a href="/home"><img class="HomeLogo" src="css/images/DJLOGO.png"></a>
		</div>
		<h4 class="HomepageHeader"><i>"Where Your Feelings Are Kept Safe"</i></h4>
			<p class="HomeParagraphs">Have you ever wanted to become someone different
				for a day?
			<br> Get away from reality for a bit?
				Be able to express your
			<br> experiences & emotions without being targeted?
			<br><strong>Go Anonymous with Dear Journal today!</strong>
			</p>
				 <div class="btn-group">
				 	<a href="/sign-up">Sign Up</a>
					</div>
					<div class="btn-group">
				 <a href="/login">Sign In</a>
			 	</div>
	</div>
	<footer class="footer-home">
			&copy; 2016 Selena Vargas
		<p>
			Contact information: <a href="mailto:selena_vargas30@yahoo.com">
			selena_vargas30@yahoo.com</a>
		</p>
	</footer>
</div>
