<div class="">

	<div class="">
		<div class="logo">
					<a href="/home"><img class="HomeLogo" src="css/images/DJLogo.png"></a>
		</div>
		<h4><i>"Where Your Feelings Are Kept Safe"</i></h4>
			<p>Have you ever wanted to become someone different
				for a day?
			<br> Get away from reality for a bit?
				Be able to express your
			<br> experiences & emotions without being targeted?
			<br><strong>Go Anonymous with Dear Journal today!</strong>
			</p>
		<a href="/home"><img class="DJcta" src="css/images/DJcta.jpg"></a>

	 <nav class="navbar navbar-default navbar-fixed-top">

	   <div class="container">
			 <ul class="nav nav-tabs">
				<li role="presentation" ><a href="/live-view">Home Feed</a></li>
				<li role="presentation"><a href="/feed">Profile</a></li>
				<li role="presentation"><a href="/chat">Chat</a></li>
			 </ul>
	   </div>
	 </nav>

				 <div class="btn-group">
				 	<a href="/sign-up">Create a New Journal</a>
					</div>
					<div class="btn-group">
				 <a href="/login">Login</a>
			 	</div>
	</div>
</div>
