
<div class="row well">
  <section class="FeedView">
    <a href="/home"><img class="DJlogo" src="css/images/DJLOGO.png"></a>
  <h1 class="LiveViewDisplayName"> <img class="" ng-src="css/images/{{loggedUser.avatar}}" height="60" width="60"> {{ loggedUser.username }}'s Journal</h1>
  <h5 class="liveviewHeader">"Where Your Feelings Are Kept Safe"</h4>

</section>

  <section>
    <div class="col-md-91" ng-repeat="journal in journals | orderBy: 'date':true ">
      <h2>{{journal.title}}</h2>
      <h4>{{journal.date | date : shortDate}}</h4>
      <p>
        <img ng-show="journal.mood" ng-src="/css/images/{{journal.mood}}" id="moodFeels" height="80" width="80" alt="{{journal.mood}}"/>
      </p>
      <p class="journalText">
        {{journal.text}}
      </p>
      <p class="journalUser">
        {{journal.user}}
      </p>
    </div>
  </section>
  <footer class="footer-feed">
      &copy; 2016 Selena Vargas
    <p>
      Contact information: <a href="mailto:selena_vargas30@yahoo.com">
      selena_vargas30@yahoo.com</a>
    </p>
  </footer>
</div>
