<nav class="navbar navbar-default navbar-fixed-top">
  <div class="logo">
        <a href="/home"><img class="DJlogo" src="css/images/DJLogo.png"></a>
    </div>
  <div class="container">
    <ul class="nav nav-tabs">
     <li role="presentation" class="active"><a href="/live-view">Home Feed</a></li>
     <li role="presentation"><a href="/feed">Profile</a></li>
     <li role="presentation"><a href="/chat">Chat</a></li>
    </ul>
  </div>
</nav>

<div class="row well">
  <h1> <img class="" ng-src="css/images/{{loggedUser.avatar}}" height="60" width="60"> {{ loggedUser.username }}'s Journal</h1>
  <h4>Where Your Feelings Are Kept Safe</h4>

  <a href="/home"><img class="DJlogo" src="css/images/DJLogo.png"></a>
  <a href="/chat"><img class="smileyChat" src="css/images/chatSymbol.png" height="60" width="60"></a>
  <a href="/"><img class="gearShift" src="css/images/gearShift.png" height="60" width="60"></a>

  <section>
    <div class="" ng-repeat="journal in journals | orderBy: 'date':true ">
      <h2>{{journal.title}}</h2>
      <h4>{{journal.date | date : shortDate}}</h4>
      <p>
        <img ng-show="journal.mood" ng-src="/css/images/{{journal.mood}}" id="moodFeels" height="80" width="80" alt="{{journal.mood}}"/>
      </p>
      <p>
        {{journal.text}}
      </p>
      <p>
        {{journal.user}}
      </p>
    </div>
  </section>
</div>
