<div class="container">
<section>

  <div class="logo">
         <a href="/home"><img class="DJlogo" src="css/images/DJLogo.png"></a>
     </div>

  <h1>Log Into Your Journal</h1>
  <div class="row">
    <form ng-submit="SignIn()" class="col-md-offset-4 col-md-4 sign-up-form">

      <div class="form-group">
        <label>Email:
          <input type="email" name="email" placeholder="123@gmail.com" class="form-control" ng-model="form.Email">
       </label>
     </div>

       <div class="form-group">
        <label>Password:
            <input type="password" placeholder="123Go" class="form-control" ng-model="form.Password">
        </label>
      </div>

      <div>
        <a href="">Forgot Password?</a>
      </div>

      <div class="form-group">
        <button class="btn btn-default" type="submit">Login</button>
      </div>

      <div>
        <a href="/sign-up"> Create A Journal</a>
      </div>

    </form>
  </div>
</section>
</div>
