<div class="container">
  <section>

  <div class="logo">
      <a href="/home"><img class="DJlogo" src="css/images/DJLOGO.png"></a>
  </div>

  <h1 class="SignupHeader">Create An Anonymous Username</h1>
  <div class="row">
    <form ng-submit="EmailSignUp()" class="col-md-offset-4 col-md-4 sign-up-form">

      <div class="form-group3">
        <div ng-repeat="avatar in avatars" class="image">
          <img ng-src="/css/images/{{avatar.$value}}" height="60" width="60" alt="{avatar.$value}"
            ng-click="pickAvatar(avatar)"/>
        </div>
      </div>

      <div class="form-group2">
          <input type="email" name="email" placeholder="Email" class="form-control" ng-model="form.Email">
       </label>
     </div>

       <div class="form-group2">
            <input type="password" placeholder="Password" class="form-control" ng-model="form.Password">
        </label>
      </div>

      <div class="form-group4">
        <p> {{ randomNameShow }} </p>
        <button type="button" name="button" class="btn btn-primary"
          ng-click="pickRandomName()">
          Pick Random Username
        </button>
      </div>

      <div class="form-group5">
        <button class="btn btn-default" type="submit">Sign Up</button>
      </div>

    </form>
  </div>
</div>
</section>
