<section class="container">
  <h1>Create An Anonymous Username</h1>
  <div class="row">
    <form ng-submit="EmailSignUp()" class="col-md-offset-4 col-md-4 sign-up-form">

      <div class="form-group">
        <div ng-repeat="avatar in avatars" class="image">
          <img ng-src="/css/images/{{avatar.$value}}" height="60" width="60" alt="{avatar.$value}"
            ng-click="pickAvatar(avatar)"/>
        </div>
      </div>

      <div class="form-group">
        <label>Date of Birth:
          <input type="date" name="bday" class="form-control" ng-model="form.Bday">
        </label>
      </div>

      <div class="form-group">
        <label>Email:
          <input type="email" name="email" placeholder="123@gmail.com" class="form-control" ng-model="form.Email">
       </label>
     </div>

       <div class="form-group">
        <label>Password:
            <input type="password" placeholder="123Go" ng-model="form.Password" class="form-control" ng-model="form.Password">
        </label>
      </div>

      <div class="form-group">
        <p> {{ randomNameShow }} </p>
        <button type="button" name="button" class="btn btn-primary"
          ng-click="pickRandomName()">
          Pick Random Username
        </button>
      </div>

      <div class="form-group">
        <button class="btn btn-default" type="submit">Go Anonymous</button>
      </div>

    </form>
  </div>
</section>
