<section>
  <h1>Create An Annonymous Username</h1>

  <form ng-submit="registerSubmit()">
      <label>
        Choose an emoji for your profile
      </label>

      <div class="imgContainer">
        <div ng-click="AvatarPick()">
        <img ng-repeat="avatar in avatars" class="AviThumb" ng-class="monkeyKey" src="monkey.png" alt="MonkeyAvi" width="50px" height="50px">
      </div>
      </div>

      <div class="imgContainer">
        <img class="AviThumb" src="hearteyes.png" alt="HearteyesAvi" width="50px" height="50px">
      </div>

      <div class="imgContainer">
        <img class="AviThumb" src="tears.png" alt="TearsAvi" width="50px" height="50px">
      </div>

      <div class="imgContainer">
        <img class="AviThumb" src="happyface.png" alt="HappyAvi" width="50px" height="50px">
      </div>

    <label>Name Origin:
      <select name ="nameOrigin">
        <option value="African American" ng-model= "nameSelect.AA">African American</option>
        <option value="Asian Pacific" ng-model= "nameSelect.AP">Asian Pacific</option>
        <option value="Caucasian" ng-model= "nameSelect.Caucasian">Caucasian</option>
        <option value="Hispanic/Latino" ng-model= "nameSelect.HL" >Hispanic/Latino</option>
        <option value="Other" ng-model= "nameSelect.Other" >Other</option>
      </select>
    </label>

    <label>Age:
      <select name ="age">
        <option value="14-19" ng-model= "ageSelect.age14">14-19</option>
        <option value="20-30" ng-model= "ageSelect.age20">20-30</option>
        <option value="31-40" ng-model= "ageSelect.age31">31-40</option>
        <option value="40" ng-model= "ageSelect.age40">40+</option>
      </select>
   </label>

    <label>Gender:
      <input type="radio" name="gender" value="male" ng-model="genderRadio.Male" checked>Male</input>
       <input type="radio" name="gender" value="female" ng-model="genderRadio.Female">Female</input>
     </label>

    <label>Password:
        <input type="password" placeholder="Keep It A Secret" ng-model="input.Password">
    </label>

    <button ng-click="GenerateAnnonymous()" class = "generate-btn">Generate Name</button>
  </form>
</section>
